//font-montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500;1,800&display=swap');
@import "styleHeader";
@import "styleSeccion1"; 
@import "styleFooter";
@import "styleSeccion2";
@import "styleSeccion3";
@import "styleSeccion4";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    --verde: #60ECB1;
    --grisBarra:rgb(24, 24, 27);
    --negrofondo:rgb(14, 14, 16);
}

html{
    height:100vh;
    scroll-behavior: smooth;
}

body{
    height:100vh;
    background: var(--grisBarra);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor{
    width: 1000px ;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#art1,#art2,#art3,#art4{
    .contenedor{
        height: 100vh;
    }
}

.contArticulos{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloArticulos{
    width: 100%;
    padding:20px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        width: max-content;
        color:var(--verde);
        font-style: italic;
        font-size: 2rem;
    }
}

#art2, #art3, #art4{
    article{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #282828;
    }
}

.iconoUp{
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,  0.20);
    transition: 1s;
    opacity: 0;
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span{
        color: #fff;
        font-size: 36px;
    }
}

.show-scroll{
    opacity: 1;
}

@media screen and (max-width: 760px){
    html,body{
        width: 100%;
        height: 100%;
    }
    .iconoUp{
        bottom: 20px;
        right: 20px;
    }
}
